@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply text-slate-900 text-lg font-serif bg-white xl:flex;
}
nav#topbar {
    @apply w-full flex justify-around content-center text-white bg-slate-800 p-2 text-xl xl:hidden;
}
nav#topbar p {
    @apply p-0 m-0;
}
nav#sidebar {
    @apply bg-slate-800 hidden max-w-sm p-12 xl:flex-none xl:block;
}
li.level1.nav-leaf {
    @apply list-none text-pink-300 mt-4;
}
ul.nav-list:first-child {
    @apply mt-0;
}
ul.nav-list li:first-child {
    @apply uppercase;
}
li.level1 {
    @apply list-none uppercase text-pink-300 mt-4;
}
li.level2 {
    @apply list-none text-slate-300 pl-4;
}

.default-image-block {
    @apply m-4;
}

#content {
    @apply flex-auto p-12;
}

main {
    display: grid;
    grid-template-columns: [main-start] minmax(20ch, 60ch) [main-end] minmax(0ch,20ch) [overflow-end];
}
h1, h2, h3, h4 {
    @apply text-pink-800;
}
.content h1, h2, h3, h4 {
    grid-column-start: main-start;
    grid-column-end: main-end;
}
h1 {
    @apply text-6xl mb-16;
}
h2 {
    @apply text-4xl mb-2;
}
h3 {
    @apply text-2xl mb-2;
}
h4 {
    @apply text-xl;
}


p {
    @apply mb-4;
}
.content p {
    grid-column-start: main-start;
    grid-column-end: main-end;
}
.content ol.arabic {
    grid-column-start: main-start;
    grid-column-end: main-end;
    @apply list-decimal list-outside pl-4 mb-4;
}
.content ul {
    grid-column-start: main-start;
    grid-column-end: main-end;
    @apply list-disc list-outside pl-4 mb-4;
}
.content pre {
    grid-column-start: main-start;
    grid-column-end: overflow-end;
}
.content a {
    @apply underline decoration-dotted decoration-1 hover:decoration-2 text-sky-500;
}
pre {
    @apply mb-4 p-2 bg-slate-100;
}
code {
    @apply text-sm;
    font-family: "Source Code Pro", ui-monospace, monospace;
}
pre code .number-literal, .char-literal, .boolean-literal, .string-literal {
    @apply text-sky-600;
}
pre code .keyword {
    @apply text-rose-600;
}
pre code .identifier {
    @apply text-slate-600;
}
pre code .type-name {
    @apply text-green-600;
}
pre code .declaration-name {
    @apply text-blue-600;
}
pre code .comment {
    @apply italic;
}


.nextPage {
    @apply mt-4 text-right text-xl text-pink-800;
}
footer {
    @apply mt-4 pt-4 border-t-2 border-slate-300 text-slate-300 text-center text-sm font-sans;
}
